# Build
/build
/dist
/package
/.svelte-kit

# Env
.env
.env.*

# Misc
.DS_STORE

# Dependencies
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
.yarn
/node_modules

# Webstorm
/.idea
*.iml

# Tests
/coverage
/__snapshots__