{
	"printWidth": 120,
	"useTabs": true,
	"tabWidth": 4,
	"singleQuote": true,
	"semi": false,
	"trailingComma": "es5",
	"bracketSpacing": true,
	"bracketSameLine": false,
	"plugins": ["prettier-plugin-svelte"],
	"overrides": [{ "files": "*.svelte", "options": { "parser": "svelte" } }]
}
